.carousel {
  padding: 0;

  .product {
    display: flex;
    padding: 0;
    width: 100%;

    .popover {
      width: 20%;
      background-color: white;
      position: absolute;
      z-index: 1;
      position: 'absolute';
      display: 'block';
      background-color: 'white';
      line-height: 1.5rem;
      box-shadow: 0 1.5rem 2rem rgba(black, 0.2);

      &__title {
        text-align: center;
        padding: 0.25rem;
        margin: 0;
        border-bottom: 1px solid rgba(black, 0.2);
      }

      &__item {
        padding: 0.25rem;
      }
    }

    .btn {
      &__last {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &__next {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    .popover {
      z-index: 100;
    }

    img {
      max-width: 100%;
    }
  }
}
